@charset 'UTF-8';
$mainColor: #182848;
$subColor: #4b6cb7;
$accentColor: #b8614b;
$textColor: #191919;
$bgColor: #f0f0f0;

//breakpoints
$breakpoint-sm: 375px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 1300px !default;

$breakpoints: (
  'sm': 'screen and (max-width: 375px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1300px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

html {
  font-size: 62.5%;
}

body {
  color: $textColor;
  font-family: Noto Sans JP, “游ゴシック”, “Yu Gothic”, “YuGothic”,”Meiryo”,
  “Hiragino Sans”, “ヒラギノ角ゴシック”, “Hiragino Kaku Gothic ProN”, “ヒラギノ角ゴ ProN”,
  “MS Gothic”, “Osaka”, sans-serif;
  font-size: 1.6rem;
}

// font-family: 'Lato', sans-serif;
// font-family: 'Noto Sans JP', sans-serif;

body > * {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

a:link, a:visited, a:hover, a:active {
  color: #fff;
  text-decoration: none;
}

/*----------------*/
/* component      */
/*----------------*/


/*----------------*/
/* header         */
/*----------------*/
